@import 'module/mixin', 'module/variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body, .Layouts{
    @include dislay-flex($direction: column);
    height: 100vh;
}
input:focus{
    outline: none;
}
.nav{
    @include dislay-flex($justify: space-around, $padding: 20px, $align: center);
    background: $primary;
    border-bottom: $border-grey;
    position: absolute;
    width: 100%;

    &-logo{
        @include respond(small){
            display: none;
        }
    }
    &-item{
        .nav-search{
            @include border-radius($radius: 20px);
            height: 40px;
            min-width: 100%;
            border: $border-grey;
            padding: 10px;
            font-size: 0.9em;
        }
        &:nth-child(2){
            width: 60%;
        }
        img{
            height: 40px;
        }
        ul{
            @include dislay-flex($padding: 0);
            list-style: none;
            
            li{
                margin: 0 10px;

                a{
                    color: $black;
                    text-decoration: none;
                    font-size: 1em;
                    font-weight: bold;
                }
            }
        }
    }
}
main{
    @include dislay-flex($padding: 20px 100px);
    margin-top:80px;
    @include respond(small){
        @include dislay-flex($padding: 20px 10px);
    }
}
.product{
    @include dislay-flex($direction: row);
    flex-wrap: wrap;
    width: 100%;

    .card{
        @include dislay-flex($direction: column);
        @include border-radius($radius: 10px);
        width: calc(20% - 30px);
        margin: 15px 15px;
        -webkit-box-shadow: 2px 4px 10px 6px rgba(199,189,199,0.44);
        -moz-box-shadow: 2px 4px 10px 6px rgba(199,189,199,0.44);
        box-shadow: 2px 4px 10px 6px rgba(199,189,199,0.44);
        transform: scale(0.9);
        transition: all 0.5s;
        @include respond(small){
            width: calc(50% - 10px);
            margin: 5px 5px;
        }
        @include respond(medium){
            width: calc(33.3% - 20px);
            margin: 10px 10px;
        }
    
        img{
            @include border-radius($radius: 10px 10px 0 0);
            max-width: 100%;
        }
        &-header{
            padding: 10px;

            p{
                font-size: 1.2em;
                @include respond(small){
                    font-size: 1em;
                }

                a{
                    color: $black;
                    white-space: pre-wrap;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-decoration: none;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        &-body{
            padding: 0 10px 10px 10px;

            h3{
                font-size: 1em;
                margin-bottom: 5px;
            }
            p{
                font-size: 0.9em;
                color: $grey;
            }
            span{
                font-size: 0.9em;
                margin-top: 10px;
                display: block;
                color: $grey;
                @include respond(small){
                    font-size: 0.8em;
                }
            }
        }

        &:hover{
            transform: scale(1);
        }
    }
}
.detail-container{
    @include dislay-flex($direction:row, $padding: 30px 0);
    max-width: 900px;
    margin: auto;
    @include respond(medium){
        @include dislay-flex($direction: column, $padding: 30px 0);
    }
    @include respond(small){
        @include dislay-flex($direction: column, $padding: 30px 0);
    }

    &-img{
        width: 40%;
        padding: 20px;
        border-radius: 20px;
        @include respond(medium){
            width: 100%;
        }
        @include respond(small){
            width: 100%;
        }

        img{
            width: 100%;
            border-radius: 20px;
        }
    }
    &-content{
        padding: 20px;
        width: 60%;
        @include respond(medium){
            width: 100%;
        }
        @include respond(small){
            width: 100%;
        }

        .product-title{
            margin-bottom: 5px;

            h1{
                font-size: 1.3em;
            }
        }
        .product-keterangan{
            margin-bottom: 20px;

            span{
                font-size: 0.9em;
            }
        }
        .product-harga{
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 20px;
        }
        .product-detail{
            margin-bottom: 20px;

            p{
                font-size: 1em;
            }
        }
        .product-pemesanan{
            .keranjang, .beli{
                padding:10px 20px;
                font-size: 0.9em;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;

                &:focus{
                    outline: none;
                }
            }
            .keranjang{
                border: 2px solid grey;
            }
            .beli{
                border: 2px solid red;
                color: $white;
                background: red;
                margin-left: 10px;
            }
        }
    }
}
footer{
    border-top: $border-grey;
    margin-top: auto;
    background: $primary;
    padding: 20px;
    text-align: center;
}
.home-enter-active, .home-leave-active {
     transition: opacity .5s; 
}
.home-enter, .home-leave-active { 
    opacity: 0; 
}

